/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "helpers.h"

#define ALPHA 0
#define NUM   1
#define SYM   2
#define NAV   3
#define MEDIA 4

HOME_ROW_MOD(hl, &kp, &kp, KEYS_R THUMBS) // left home row mods
HOME_ROW_MOD(hr, &kp, &kp, KEYS_L THUMBS) // right home row mods

/ {
  behaviors {
    ltb: layer_tap_balanced {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <150>;
      quick-tap-ms = <120>;
      bindings = <&mo>, <&kp>;
    };
  };
  combos {
    compatible = "zmk,combos";
    caps {
      bindings = <&caps_word>;
      key-positions = <LM1 RM1>;
    };
    raycast {
      timeout-ms = <80>;
      bindings = <&kp LG(SPACE)>;
      key-positions = <LH0 RH0>;
    };
  };
  macros {
    tm1: tm1 {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&macro_tap &kp GRAVE &kp N1>;
    };
    tm2: tm2 {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&macro_tap &kp GRAVE &kp N2>;
    };
    tm3: tm3 {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&macro_tap &kp GRAVE &kp N3>;
    };
    tm4: tm4 {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&macro_tap &kp GRAVE &kp N4>;
    };
    tmnext: tmnext {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&macro_tap &kp GRAVE &kp N>;
    };
    tmprev: tmprev {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&macro_tap &kp GRAVE &kp P>;
    };
    app1: app1 {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&macro_press &kp LALT>, <&macro_tap &kp N1>, <&macro_release &kp LALT>;
    };
    app2: app2 {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&macro_press &kp LALT>, <&macro_tap &kp N2>, <&macro_release &kp LALT>;
    };
    app3: app3 {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&macro_press &kp LALT>, <&macro_tap &kp N3>, <&macro_release &kp LALT>;
    };
    app4: app4 {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&macro_press &kp LALT>, <&macro_tap &kp N4>, <&macro_release &kp LALT>;
    };
  };
  keymap {
    compatible = "zmk,keymap";
    alpha {
      bindings = <
        &kp TAB    &kp Q  &kp W        &kp E       &kp R       &kp T              &kp Y           &kp U       &kp I       &kp O        &kp P     &kp BSPC
        &gresc     &kp A  &hl LCTRL S  &hl LALT D  &hl LCMD F  &kp G              &kp H           &hr LCMD J  &hr LALT K  &hr LCTRL L  &kp SQT   &kp ENTER
        &kp LSHFT  &kp Z  &kp X        &kp C       &kp V       &kp B              &kp N           &kp M       &kp COMMA   &kp DOT      &kp FSLH  &kp LSHFT
                                       &mo MEDIA   &mo NAV     &ltb NUM LA(BSPC)  &ltb SYM SPACE  &mo NAV     &mo MEDIA
      >;
      label = "alpha";
    };
    num {
      bindings = <
        ___  xxx  &kp F9  &kp F8  &kp F7  xxx   &kp FSLH  &kp N7  &kp N8  &kp N9  &kp MINUS  ___
        ___  xxx  &kp F6  &kp F5  &kp F4  xxx   &kp STAR  &kp N4  &kp N5  &kp N6  &kp PLUS   ___
        ___  xxx  &kp F3  &kp F2  &kp F1  xxx   &kp N0    &kp N1  &kp N2  &kp N3  &kp DOT    ___
                          ___     ___     ___   ___       ___     ___
      >;
      label = "num";
    };
    sym {
      bindings = <
        ___  &kp QMARK  &kp AT    &kp HASH  &kp DLLR   &kp PRCNT  &kp PIPE   &kp STAR   &kp AMPS  &kp CARET  &kp EXCL   ___
        ___  &kp MINUS  &kp FSLH  &kp LBRC  &kp LPAR   &kp LBKT   &kp RBKT   &kp RPAR   &kp RBRC  &kp BSLH   &kp PLUS   ___
        ___  &kp SEMI   &kp SQT   &kp LT    &kp EQUAL  &kp GRAVE  &kp TILDE  &kp UNDER  &kp GT    &kp DQT    &kp COLON  ___
                                  ___       ___        ___        ___        ___        ___
      >;
      label = "sym";
    };
    nav {
      bindings = <
        ___  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR  xxx       &app1                 &app2                  &app3                  &app4  ___
        ___  &tm4          &tm3          &tm2          &tm1          xxx         &kp LEFT  &kp DOWN              &kp UP                 &kp RIGHT              xxx    ___
        ___  xxx           xxx           &tmprev       &tmnext       xxx         xxx       &kp LG(LA(LC(LEFT)))  &kp LG(LA(LC(ENTER)))  &kp LG(LA(LC(RIGHT)))  xxx    ___
                                         ___           ___           ___         ___       ___                   ___
      >;
      label = "nav";
    };
    media {
      bindings = <
        ___  ___  ___  ___  ___  ___  ___  ___  ___  ___  ___  ___
        ___  ___  ___  ___  ___  ___  ___  ___  ___  ___  ___  ___
        ___  ___  ___  ___  ___  ___  ___  ___  ___  ___  ___  ___
                       ___  ___  ___  ___  ___  ___
      >;
      label = "media";
    };
  };
};
